<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bupt.database.mapper.CustomerMapper">

    <resultMap id="BaseResultMap" type="bupt.database.entity.Customer">
            <id property="cCustkey" column="C_CUSTKEY" jdbcType="INTEGER"/>
            <result property="cName" column="C_NAME" jdbcType="VARCHAR"/>
            <result property="cAddress" column="C_ADDRESS" jdbcType="VARCHAR"/>
            <result property="cNationkey" column="C_NATIONKEY" jdbcType="INTEGER"/>
            <result property="cPhone" column="C_PHONE" jdbcType="CHAR"/>
            <result property="cAcctbal" column="C_ACCTBAL" jdbcType="DECIMAL"/>
            <result property="cMktsegment" column="C_MKTSEGMENT" jdbcType="CHAR"/>
            <result property="cComment" column="C_COMMENT" jdbcType="VARCHAR"/>
            <result property="cPassword" column="C_PASSWORD" jdbcType="VARCHAR"/>
            <result property="cRole" column="C_ROLE" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        C_CUSTKEY,C_NAME,C_ADDRESS,
        C_NATIONKEY,C_PHONE,C_ACCTBAL,
        C_MKTSEGMENT,C_COMMENT,C_PASSWORD,
        C_ROLE
    </sql>
    <select id="selectListPage" resultType="bupt.database.entity.Customer">
        select * from customer limit #{page}, #{size}
    </select>
</mapper>
