<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bupt.database.mapper.LineitemMapper">

    <resultMap id="BaseResultMap" type="bupt.database.entity.Lineitem">
            <id property="l_ORDERKEY" column="L_ORDERKEY" jdbcType="INTEGER"/>
            <id property="l_LINENUMBER" column="L_LINENUMBER" jdbcType="INTEGER"/>
            <result property="l_PARTKEY" column="L_PARTKEY" jdbcType="INTEGER"/>
            <result property="l_SUPPKEY" column="L_SUPPKEY" jdbcType="INTEGER"/>
            <result property="l_QUANTITY" column="L_QUANTITY" jdbcType="DECIMAL"/>
            <result property="l_EXTENDEDPRICE" column="L_EXTENDEDPRICE" jdbcType="DECIMAL"/>
            <result property="l_DISCOUNT" column="L_DISCOUNT" jdbcType="DECIMAL"/>
            <result property="l_TAX" column="L_TAX" jdbcType="DECIMAL"/>
            <result property="l_RETURNFLAG" column="L_RETURNFLAG" jdbcType="CHAR"/>
            <result property="l_LINESTATUS" column="L_LINESTATUS" jdbcType="CHAR"/>
            <result property="l_SHIPDATE" column="L_SHIPDATE" jdbcType="DATE"/>
            <result property="l_COMMITDATE" column="L_COMMITDATE" jdbcType="DATE"/>
            <result property="l_RECEIPTDATE" column="L_RECEIPTDATE" jdbcType="DATE"/>
            <result property="l_SHIPINSTRUCT" column="L_SHIPINSTRUCT" jdbcType="CHAR"/>
            <result property="l_SHIPMODE" column="L_SHIPMODE" jdbcType="CHAR"/>
            <result property="l_COMMENT" column="L_COMMENT" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        L_ORDERKEY,L_LINENUMBER,L_PARTKEY,
        L_SUPPKEY,L_QUANTITY,L_EXTENDEDPRICE,
        L_DISCOUNT,L_TAX,L_RETURNFLAG,
        L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,
        L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,
        L_COMMENT
    </sql>
</mapper>
