<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bupt.database.mapper.LineitemMapper">

    <resultMap id="BaseResultMap" type="bupt.database.entity.Lineitem">
            <id property="lOrderkey" column="L_ORDERKEY" jdbcType="INTEGER"/>
            <id property="lLinenumber" column="L_LINENUMBER" jdbcType="INTEGER"/>
            <result property="lPartkey" column="L_PARTKEY" jdbcType="INTEGER"/>
            <result property="lSuppkey" column="L_SUPPKEY" jdbcType="INTEGER"/>
            <result property="lQuantity" column="L_QUANTITY" jdbcType="DECIMAL"/>
            <result property="lExtendedprice" column="L_EXTENDEDPRICE" jdbcType="DECIMAL"/>
            <result property="lDiscount" column="L_DISCOUNT" jdbcType="DECIMAL"/>
            <result property="lTax" column="L_TAX" jdbcType="DECIMAL"/>
            <result property="lReturnflag" column="L_RETURNFLAG" jdbcType="CHAR"/>
            <result property="lLinestatus" column="L_LINESTATUS" jdbcType="CHAR"/>
            <result property="lShipdate" column="L_SHIPDATE" jdbcType="DATE"/>
            <result property="lCommitdate" column="L_COMMITDATE" jdbcType="DATE"/>
            <result property="lReceiptdate" column="L_RECEIPTDATE" jdbcType="DATE"/>
            <result property="lShipinstruct" column="L_SHIPINSTRUCT" jdbcType="CHAR"/>
            <result property="lShipmode" column="L_SHIPMODE" jdbcType="CHAR"/>
            <result property="lComment" column="L_COMMENT" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        L_ORDERKEY,L_LINENUMBER,L_PARTKEY,
        L_SUPPKEY,L_QUANTITY,L_EXTENDEDPRICE,
        L_DISCOUNT,L_TAX,L_RETURNFLAG,
        L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,
        L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,
        L_COMMENT
    </sql>
</mapper>
