<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bupt.database.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="bupt.database.entity.Orders">
            <id property="oOrderkey" column="O_ORDERKEY" jdbcType="INTEGER"/>
            <result property="oCustkey" column="O_CUSTKEY" jdbcType="INTEGER"/>
            <result property="oOrderstatus" column="O_ORDERSTATUS" jdbcType="CHAR"/>
            <result property="oTotalprice" column="O_TOTALPRICE" jdbcType="DECIMAL"/>
            <result property="oOrderdate" column="O_ORDERDATE" jdbcType="DATE"/>
            <result property="oOrderpriority" column="O_ORDERPRIORITY" jdbcType="CHAR"/>
            <result property="oClerk" column="O_CLERK" jdbcType="CHAR"/>
            <result property="oShippriority" column="O_SHIPPRIORITY" jdbcType="INTEGER"/>
            <result property="oComment" column="O_COMMENT" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        O_ORDERKEY,O_CUSTKEY,O_ORDERSTATUS,
        O_TOTALPRICE,O_ORDERDATE,O_ORDERPRIORITY,
        O_CLERK,O_SHIPPRIORITY,O_COMMENT
    </sql>
</mapper>
