<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bupt.database.mapper.PartMapper">

    <resultMap id="BaseResultMap" type="bupt.database.entity.Part">
            <id property="p_PARTKEY" column="P_PARTKEY" jdbcType="INTEGER"/>
            <result property="p_NAME" column="P_NAME" jdbcType="VARCHAR"/>
            <result property="p_MFGR" column="P_MFGR" jdbcType="CHAR"/>
            <result property="p_BRAND" column="P_BRAND" jdbcType="CHAR"/>
            <result property="p_TYPE" column="P_TYPE" jdbcType="VARCHAR"/>
            <result property="p_SIZE" column="P_SIZE" jdbcType="INTEGER"/>
            <result property="p_CONTAINER" column="P_CONTAINER" jdbcType="CHAR"/>
            <result property="p_RETAILPRICE" column="P_RETAILPRICE" jdbcType="DECIMAL"/>
            <result property="p_COMMENT" column="P_COMMENT" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        P_PARTKEY,P_NAME,P_MFGR,
        P_BRAND,P_TYPE,P_SIZE,
        P_CONTAINER,P_RETAILPRICE,P_COMMENT
    </sql>
</mapper>
